figure{
    border: 8px  solid darkviolet;
    text-align: center;
}
p{
    text-align: center; text-decoration:underline;
    font-family: monospace;
}
h1{
    border-top: 9px solid green ;
    border-right: 9px dashed blue ;
    border-bottom: 9px solid pink;
    border-left: 9px dotted orange ;
    text-align: center; text-decoration:underline;
    font-family: serif;
}
h2{
    font-family: sans-serif;
}
h4{
    font-family: serif;
    text-decoration:underline;
}
body{

    background-color: #c42aea;
    font-family: Helvetica,"Lucida Grande",sans-serif;
}