body {
    font-family: Helvetica, "Lucida Grande", sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    color: #3d3d3d;
}

p {
    font-size: 17px;
    text-align: left;
}

.titulo {
    font-size: 32px; 
    padding: 10px;
    text-align: justify;
    text-align: left;
    text-decoration: underline;
    font-family: serif;
    background-color: #E1EDF2;
}

.subtitulo {
    text-align: justify;
    border-bottom: 4px solid black;
}

h3 {
    text-align: auto;
    font-size: 17px;
}

h4 {
    text-align: justify;
    border-bottom: 4px solid black;
}

figure {

    margin: 35px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figcaption {
    margin-top: 10px;
}

ul {
    list-style-image: circle;
}

.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln {
    float: right;
    width: 275px;
}

figure img {
    width: 100%;
}
.logo{
    width:50%;
}
small{
    font-size: 14px;
}
.contato__secao{

}
.contato__secao--telefone{

}    
.contato__subtitulo{
    display: inline;
}
.contato__info{
    margin: 16px 0 24px;
    padding-left: 32px;
}
.contato__info--titulo{


}
.contato__info--descricao{


}