body{
    font-family: Helvetica,"Lucida Grande",sans-serif;
}
h1{
    text-align: center; text-decoration:underline;
    font-family: serif;
    color: #3d3d3d;
    background-color: #e1edf2;
}
h2{
    border-bottom: 4px solid black;
}
h4{
    border-bottom: 4px solid black;
}
figure{
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
}